body{
    background-image: radial-gradient( rgb(196, 196, 247), white, lavender, white, rgb(196, 196, 247));
}

.store-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-right: 15%;
}

#top{
    font-family: 'Sacramento', cursive;
    font-size: 200px;
    color: indigo;
    text-shadow: 4px 4px black;
    margin: 0 0 1vh 3vw;
}

#top-2{
    font-family: 'Sacramento', cursive;
    font-size: 106px;
    color: indigo;
    text-shadow: 3px 3px black;
    margin: -1em 0em 0em 4em;
}

nav{
    margin-left: -1vw;
    margin-right: -1vw;
    padding: 0;
    
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 10px double indigo;
    border-bottom: 10px double indigo;
    background-image: linear-gradient(to bottom right, rgb(232, 232, 228), white, rgb(232, 232, 228) );
}

nav ul a{
    font-size: 2em;
    font-weight: 1000;
}

nav ul li{
    list-style: none;
    font-family: 'Kanit', sans-serif;
    padding: 2px;
    color: black;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-left: .2em;
    padding-right: .2em;    
}

a:hover{
    color: white;
    background-color: indigo;
}

h2{
    font-family: 'Sacramento', cursive;
    font-size: 75px;
    color: indigo;
    text-shadow: 2px 3px black;
    text-align: center;
    margin-bottom: 0;
}

#send-flowers{
    margin-bottom: -3vh;
}

h3{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    margin-left: 2vw;
}

h3 b{
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    font-weight: 600;
    font-size: 1em;
    font-weight: 500;
}

.send-flowers ul{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
}

.send-flowers ul li{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-left: 0;
    font-family: 'Indie Flower', cursive;
}

li p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -.25vh;
}

p label{
    font-size: 1.75em;
    justify-content: flex-start;
    padding-top: 3px;
    padding-bottom: 5px;
    align-self: flex-end;
}

section li input{
    text-align: center;
}

.flower-photo, .accent-photo, .greens-photo{
    height: 250px;
    width: 250px;
    border: 6px double indigo;
    background-color: white;

}

section{
    margin-left: 3vw;
}

#help{
    margin-bottom: 2vh;
}

.help{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.help p{
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    font-weight:900;
    text-shadow: 1px 1px 1px black;
    border: 7px double indigo;
    height: 200px;
    width: 200px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
        box-shadow: 4px 4px 4px black;
    background-image: linear-gradient(to bottom right, rgb(232, 232, 228), white, rgb(232, 232, 228) );
    display: flex;
    align-content: center;
    text-align: center;

}

.help p a{
    font-size: 2em;
}

.help p:hover{
    box-shadow: 6px 6px 6px black;
    height: 180px;
    width: 210px;
}

hr{
    border-top: 10px double indigo;
    margin: 5vw -1vw 1vw -1vw;    
}

.order-form, .contact-form{
    border: 10px double indigo;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-image: linear-gradient(to bottom right, rgb(232, 232, 228), white, rgb(232, 232, 228) );
}

.order-form label, .contact-form label{
    margin-left: 5vw;
    font-family: 'Indie Flower', cursive;
    font-size: 1.75em;
    color: black;
    text-shadow: 1px 1px black;
}

.order-form div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    margin-bottom: 0;  
}

input, textarea{
    padding: .5vw;
    font-size: 1em;
}

#name, #address, #card, #sender, #your-name, #inquiry {
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 4px 4px 4px black;
    height: 1em;
}

#date{
    height: 1em;
    font-size: 1.5em;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

#occasion{
    height: 1.5em;
    font-size: 1.5em;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

#card, #inquiry{
    height: 3.5em;
    margin-bottom: 2vh;
    margin-top: 0;
}

.place-order{
    margin-top: 3vh;
    margin-left: 25vw;
    margin-right: 25vw;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    border: 2px solid indigo;
    box-shadow: 4px 4px 4px black;
    font-size: 1.75em;
    background-color: white;
}

.place-order:hover{
    background-color: indigo;
    color: white;
    box-shadow: 4px 4px 4px black;
}

option{
    font-family: 'Indie Flower', cursive;
}

.submit{
    margin-top: 3vh;
    margin-left: 25vw;
    margin-right: 25vw;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    border: 2px solid indigo;
    box-shadow: 4px 4px 4px black;
    font-size: 1.75em;
    background-color: white;
}

.submit:hover{
    background-color: indigo;
    color: white;
    box-shadow: 4px 4px 4px black;
}

#to-top, h5{
    font-family: 'Kanit', sans-serif;
    border: 4px double indigo;
    text-align: center;
}

footer{
    border-top: 10px double indigo;
    margin-left: -1vw;
    margin-right: -1vw;
    margin-top: 5vh;
    padding-top: 1vh;
    font-size: 1em;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(232, 232, 228), white, rgb(232, 232, 228) );
}

@media only screen and (max-width: 400px) {
    #top{
        font-size: 40px;
        text-shadow: 1px 1px black;
    }
    
    #top-2{
        font-size: 20px;
        text-shadow: 1px 1px black;
    }

    nav ul{
        flex-direction: column;
    }

    h3, h3 b{
        font-size: 15px;
    }

    .order-form{
        text-align: center;
    }

    li label{
        font-size: 15px;
    }

    .submit, .place-order{
        font-size: 15px;
        width: 60vw;
        margin-left: 6vw;
        margin-bottom: 3vw;
    }
}
